/*--------------------------------------*\
	Header
\*--------------------------------------*/
.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 40px;
}

.logo {
  width: 200px;
}

@media(min-width: 1200px){
  .header-container{
    justify-content: flex-start;
    margin: 10px 0 10px;
  }
  .logo{
    margin-left: 50px;
    width: 100px;
  }
}
