//--------------------------------------*\
//	Hero
//--------------------------------------*/
.hero{
  background-color: $grey;
  color: $white;
  padding: 40px 0;
  margin: 0 10px;
}
h5{
  line-height: 1.4;
}

//Can pattern be abstracted?
h1 + h1:after{
  content: '_';
  display: block;
  color: $accent;
  margin-top: -30px;
}
