//--------------------------------------*\
//	Hero
//--------------------------------------*/
.hero{
  background-color: $grey;
  color: $white;
  padding: 40px 0;
  margin: 0;
}
h5{
  line-height: 1.4;
}
.only-lg{
  display: none;
}


@media(min-width: 1200px){
  .hero{
    padding: 72px 0;
    margin: 0 10px;
  }
  .only-lg{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//Can pattern be abstracted?
h1 + h1:after{
  content: '_';
  display: block;
  color: $accent;
  margin-top: -65px;
  font-size: 72px;
}
